button {
  /* all: unset; */
  cursor: pointer;
}
.container {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  border-top: 2px solid green;
}

.heading {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #444;
}
.createBtn {
  color: white;
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 4px 0;
}

.plusIcon {
  margin-right: 4px;
  font-size: 1.1rem;
}
.createBtn .btn {
  box-sizing: border-box;
  all: unset;
  width: 110px;
  background: linear-gradient(135deg, #1ab622 0%, #00cb03b3 100%);
  border: none;
  padding: 10px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  /* width: 100%; */
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  background-size: 200% 200%;
  background-position: 100% 50%;

  transition: background-position 0.3s ease-in-out;
}
.createBtn .btn:hover {
  background-position: 0% 50%;
}
.tableWrapper {
  overflow-x: auto;
  overflow-y: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.table th,
.table td {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 10px 12px;
  text-align: center;
}

.table th {
  background-color: #f1f1f1;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.actionBtn {
  color: white;
  border: none;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.actionBtn.FaEdit {
  background-color: rgba(0, 142, 0, 0.7);
}
.actionBtn.FaEdit:hover {
  background-color: rgba(0, 142, 0, 1);
}
.actionBtn.BsFingerprint {
  background-color: rgba(0, 0, 142, 0.7);
}
.actionBtn.BsFingerprint:hover {
  background-color: rgba(0, 0, 142, 1);
}
.actionBtn.FaEye {
  background-color: rgba(142, 142, 0, 0.7);
}
.actionBtn.FaEye:hover {
  background-color: rgb(142, 142, 0, 1);
}
.actionBtn.FaTrash {
  background-color: rgba(142, 0, 0, 0.7);
}
.actionBtn.FaTrash:hover {
  background-color: rgba(142, 0, 0, 1);
}
/* styles.module.css */

.warningBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.deleteContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.btns {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.cancelBtn,
.deleteBtn {
  flex: 1;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cancelBtn {
  background-color: #ccc;
  color: #333;
}

.deleteBtn {
  background-color: #e53935;
  color: white;
}
.deleteBtn:hover {
  background-color: #b12c29;
}
.cancelBtn:hover {
  background-color: #b8b7b7;
}
.noData {
  text-align: center;
  padding: 20px;
  color: #888;
  font-style: italic;
}

.searchRow {
  margin-bottom: 12px;
  display: flex;
  justify-content: flex-start;
}

.searchInput {
  padding: 8px;
  font-size: 1rem;
  width: 100%;
  max-width: 320px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }
}
